@import '../../styles/utilities.scss';

.slideshow {
    position: relative; 
    max-width: inherit; 
    margin: auto;
    & .slideImage {
      width: 335px;
      height: 255px; 
      object-fit: cover; 
      display: block; 
      margin: 0 auto;
      @media (min-width: $medium-device-min) {
        width: 1240px;
        height: 415px;
      }
    }
    & .navButton {
      position: absolute; 
      top: 50%; 
      transform: translateY(-50%); 
      background: none; 
      border: none; 
      cursor: pointer;
      color: white; 
      font-size: 24px;
      @media (min-width: $medium-device-min) {
        font-size: 79.2px;
      }
      &:focus {
        outline: none; // Removes outline when focused for a cleaner appearance
      }
      &:first-of-type {
        left: calc(5%);
        @media (min-width: $medium-device-min) {
          left: calc(2%);
        }
      }
      &:last-of-type {
        right: calc(5%);
        @media (min-width: $medium-device-min) {
          right: calc(2%);
        }
      } 
    }
    & .slideNumber {
      position: absolute;
      bottom: 10px; 
      right: 50%; 
      transform: translateX(50%); 
      color: white; 
      font-size: 18px; 
      padding: 5px;
      border-radius: 5px;
      display: none;
      @media (min-width: $medium-device-min) {
        display: block;
      }
    }
}
  