@import './utilities.scss';

* {
  font-family: $primaryfont;
}

body {
  margin: auto;
  cursor: default; /*Prevent cursor: text*/
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

@for $i from 1 through 2 {
  h#{$i} {
      margin: 0;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
}