/*---------COLOR---------*/
$primarycolor: #FF6060;
$light-color: white;
$light-grey: #E3E3E3;
$grey: #F6F6F6;
/*                       */
/*-----------------------*/

/*-------FONTSIZE--------*/
$smallsize: 0.75rem; /*For Nav menu - Header - Mobile version*/
$h1-home-mobile: 1.5rem; /*For home h1 - Mobile version*/
$h1-listing-mobile: 1.125rem; /*For listing h1 - Mobile version*/
$h2-listing-mobile: 0.875rem; /*For listing h2 location - Mobile version*/
$h3-listing-mobile: 0.75rem; /*For listing h3 owner - Mobile version*/
$p-tag-listing-mobile: 0.625rem; /*For listing <p /> tag - Mobile version*/
$h1-error-mobile: 6rem; /*For Error h1 - Mobile version*/
$h2-error-mobile: 1.125rem; /*For error h2 - Mobile version*/
/*                       */
/*-----------------------*/

/*------FONTWEIGHT-------*/
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;
/*                       */
/*-----------------------*/

/*---------FONT----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
$primaryfont: 'Monserrat' ,sans-serif;
/*                       */
/*-----------------------*/

/*------BREAKPOINT-------*/
$medium-device-min: 767.8px;
$medium-device-max: 1024px;
$large-device: 1025px;
/*                       */
/*-----------------------*/

