/*---------COLOR---------*/
$primarycolor : #FF6060;
/*                       */
/*-----------------------*/

/*-------FONTSIZE--------*/
$smallsize : 12px; /*For Nav menu - Header*/
/*                       */
/*-----------------------*/

/*------FONTWEIGHT-------*/
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;
/*                       */
/*-----------------------*/

/*---------FONT----------*/

/*                       */
/*-----------------------*/

/*------BREAKPOINT-------*/
$medium-device-min: 767.8px;
$medium-device-max: 1024px;
$large-device: 1025px;
/*                       */
/*-----------------------*/

