@import '../../styles/utilities.scss';

.footer {
    min-height: 209px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
        justify-content: center;
    }
    & p {
        margin-top: 1rem;
        color: $light-color;
        text-align: center;
        @media (min-width: $medium-device-min) {
            font-size: 24px;
        }
        & .breack::after {
            content: '';
            display: block;
            @media (min-width: $medium-device-min) {
                display: none;
            }
        }
    }
}