.banner {
    background-size: 179%;
    background-position: 50% 49%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 6.938rem; /*111px*/
    margin: 0 1rem 0 1rem;
    border-radius: 10px;
    position: relative; /*For Txt*/
}